<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="complexValue" class="patterns.factory.ValueFactory"
        factory-method="createValue" scope="prototype">
        <constructor-arg value="complex value"/>
    </bean>

    <bean id="exponentialComplexValue" class="patterns.factory.ValueFactory"
          factory-method="createValue" scope="prototype">
        <constructor-arg value="exponential value"/>
    </bean>

</beans>